.CodeBlock {
  position: relative;
  padding-left: 20px;
  width: 100%;
  display: block;

  &.selected {
    background-color: #004b852c;
  }
}

.CodeBlock::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 4px;
  height: 100%;
  background-color: #004b85;
}

.CodeBlock:hover::before {
  background-color: #0078d4;
}
